:root{
/* カラー指定 */
--color-Main: #A28B55;
--color-Sub01: #86AB89;
--color-Sub02: #CBE2B5;
--color-Sub03: #E7FBE6;
/* サイズ指定 */
--size-XL: 4rem;
--size-L: 2rem;
--size-M: 1.5rem;
--size-S: 1rem;
}

.hero_wrapper,.introduction_wrapper,.products_wrapper,.keyvisual_wrapper{
height: 100vh;
}

img{
width: 100%;
}

/* ナビゲーションバー
======================== */
.nav_wrapper{
display: flex;
width: 100%;
height: auto;
padding: var(--size-L);
justify-content: space-between;
align-items: center;
position: fixed;
z-index: 3;
}

/* アイコン */
.icon{
width: 120px;
height: auto;
}
.icon img{
width: 100%;
}

/* グローバルナビゲーション */
.gnav_list{
display: flex;
gap: var(--size-L);
}
.gnav_item{
display: flex;
position: relative;
}
.gnav_item::after{
content: "";
display: inline-block;
background: url(../img/svg/triangle.svg) no-repeat center;
margin-left: 5px;
width: 20px;
height: auto;
transition: transform 0.3s ease;
}
.gnav_item:hover::after{
transform:rotate(180deg);
}

/* ドロップダウンメニュー */
.dropdown{
position: absolute;
top: 100%;
left: 0;
background: #CBE2B5;
min-width: 200px;
padding: var(--size-S) 0;
opacity: 0;
visibility: hidden;
transform: translateY(1rem);
transition: all 0.3s ease;
border-radius: 4px;
box-shadow: 0 2px 10px rgba(0,0,0,0.1);
z-index: 10;
}
.gnav_item:hover .dropdown{
opacity: 1;
visibility: visible;
transform: translateY(0);
}
.dropdown li a {
display: block;
padding: 0.8rem 1rem;
transition: all 0.2s ease;
}
.dropdown li a:hover {
background: var(--color-Sub03);
}

/* ソーシャルアイコン集 */
.social_list{
display: flex;
gap: var(--size-M);
}
.social_item{
width: 30px;
aspect-ratio: 1;
}
.social_item img{
width: 100%;
height: 100%;
}

/* メインビジュアル
======================== */
.hero_wrapper{
position: relative;
}

.hero_header{
width: 60%;
min-width: 1100px;
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
font-size: clamp(4rem, 5vw + 1rem, 8rem);
font-weight: bold;
text-align: center;
z-index: 2;
color: #fff;
mix-blend-mode: overlay;
}

.hero_mainvisual{
position: relative;
height: 100%;
background: linear-gradient(0deg, rgba(134,171,137,1) 0%, rgba(231,251,230,1) 100%);
z-index: 0;
}

.hero_mainvisual img{
position: absolute;
bottom: 0;
left: 50%;
transform: translate(-50%);
width: 1400px;
z-index: 1;
}