:root{
/* カラー指定 */
--color-Main: #A28B55;
--color-Sub01: #86AB89;
--color-Sub02: #CBE2B5;
--color-Sub03: #E7FBE6;

--color-black: #222;
--color-white: #e0e6ea;
/* サイズ指定 */
--size-XL: 4rem;
--size-L: 2rem;
--size-M: 1.5rem;
--size-S: 1rem;
}

.hero-wrapper,.message-wrapper{
height: 100vh;
}

.footer_wrapper,.nav-wrapper,.gnav-wrapper,.message-wrapper,.products-wrapper,.keyvisual-wrapper{
padding: 0 var(--size-L);
}

img{
width: 100%;
height: 100%;
object-fit: cover;
}

/* ナビゲーションバー
======================== */
.nav-wrapper{
display: flex;
width: 100%;
height: auto;
padding: var(--size-L);
justify-content: space-between;
align-items: center;
position: fixed;
z-index: 10;

background: rgb(from var(--color-Sub02) r g b / 0.5);
backdrop-filter: blur(20px);
box-shadow: 0 8px 32px 0 rgba(0,0,0,0.1);
}

/* アイコン */
.icon{
width: 120px;
height: auto;
}
.icon img{
width: 100%;
}

/* グローバルナビゲーション */
.gnav-list{
display: flex;
gap: var(--size-L);
}
.gnav-item{
display: flex;
position: relative;
color: var(--color-black);
}
.gnav-item::after{
content: "";
display: inline-block;
background: url(../img/svg/triangle.svg) no-repeat center;
margin-left: 5px;
width: 20px;
height: auto;
transition: transform 0.3s ease;
}
.gnav-item:hover::after{
transform:rotate(180deg);
}

/* ドロップダウンメニュー */
.dropdown{
position: absolute;
top: 100%;
left: 0;
background: #CBE2B5;
min-width: 200px;
padding: var(--size-S) 0;
opacity: 0;
visibility: hidden;
transform: translateY(1rem);
transition: all 0.3s ease;
border-radius: 4px;
box-shadow: 0 2px 10px rgba(0,0,0,0.1);
z-index: 11;
}
.gnav-item:hover .dropdown{
opacity: 1;
visibility: visible;
transform: translateY(0);
}
.dropdown li a {
display: block;
padding: 0.8rem 1rem;
transition: all 0.2s ease;
}
.dropdown li a:hover {
background: var(--color-Sub03);
}

/* ソーシャルアイコン集 */
.social-list{
display: flex;
gap: var(--size-M);
}
.social-item{
width: 30px;
aspect-ratio: 1;
}
.social-item img{
width: 100%;
height: 100%;
}

/* メインビジュアル
======================== */
.hero-wrapper{
position: relative;
}

.hero-header{
width: 70%;
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
font-size: clamp(4rem, 5vw + 1rem, 8rem);
font-weight: bold;
text-align: center;
z-index: 2;
color: #fff;
mix-blend-mode: overlay;
}

.hero-mainvisual{
position: relative;
width: 100%;
height: 100%;
background: linear-gradient(0deg, rgba(134,171,137,1) 0%, rgba(231,251,230,1) 100%);
z-index: 0;
}

.mainvisual-img{
position: absolute;
bottom: 0;
left: 50%;
transform: translate(-50%);
width: 80%;
height: auto;
z-index: 1;
}

/* くるくる回るテキスト */
.hero_scrollMe{
position: absolute;
width: 200px;
aspect-ratio: 1;
bottom: 10%;
right: 5%;
z-index: 5;
color: var(--color-black);
}

.hero_scrollMe::after{
content: "";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: var(--color-white);
width: 90px;
aspect-ratio: 1;
border-radius: 999px;
}

/* メッセージ
======================== */
.message-wrapper{
background: var(--color-Sub03);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.message-header{
width: auto;
text-align: center;
font-size: var(--size-L);
}

.message-text-content{
display: flex;
flex-direction: column;
justify-content: center;
gap: var(--size-L);
padding-top: var(--size-L);
writing-mode: vertical-rl;
text-orientation: upright;
}

.message-text {
display: block;
font-size: 1.2rem;
}


/* 製品情報
======================== */
.products-header{
width: auto;
text-align: center;
font-size: var(--size-L);
padding-top: var(--size-L);
}

.product-content{
padding-top: var(--size-L);
width: 100%;
height: 100%;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: var(--size-L);
}

.product-card{
height: 100%;
}

/* キーワード
======================== */
.keyword-wrapper{
margin-top: var(--size-L);
width: 100%;
background: var(--color-Sub02);
display: flex;
place-items: center;
overflow: hidden;
text-wrap: nowrap;
}

.keyword{
font-size: 50vh;
line-height: 1;
}

/* キービジュアル
======================== */
.keyvisual-wrapper{
position: relative;
height: 100vh;
}

.keyvisual-content{
padding: var(--size-L);
width: 100%;
height: 100%;
display: flex;
gap: var(--size-L);
}

.keyvisual-block{
width: 70%;
}

.keyvisual-header{
font-size: 5vw;
}

.keyvisual-text{
padding-top: var(--size-M);
}
.keyvisual-images{
position: relative;
width: 100%;
height: 100%;
overflow: hidden;
padding: var(--size-M);
background: var(--color-white);
border-radius: 0 var(--size-XL) 0 0;
}

.keyvisual-img{
position: absolute;
}

.keyvisual-img:nth-of-type(1){
top: 35%;
right: 30%;
width: 40%;
aspect-ratio: 1;
z-index: 4;
}

.keyvisual-img:nth-of-type(2){
top: 46%;
left: 55%;
width: 40%;
aspect-ratio: 0.8;
z-index: 3;
}

.keyvisual-img:nth-of-type(3){
top: 40%;
left: 5%;
width: 35%;
aspect-ratio: 0.789;
z-index: 2;
}

.keyvisual-img:nth-of-type(4){
top: 3%;
left: 45%;
width: 30%;
aspect-ratio: 0.789;
z-index: 1;
}

/* フッター
======================== */
.footer_wrapper{
height: 40vh;
border-radius: 0 var(--size-XL) 0 0;
background: var(--color-Sub03);
}

/* TODO:ボタンデザイン考える */